// field int x, y; 
// field int lengthx, lengthy; 
// field int d, straightD, diagonalD; 
// field boolean invert, positivex, positivey; 
// field int leftWall, rightWall, topWall, bottomWall; 
// field int wall; 
// method int move() { 
// if (positivey) { 
function Test.move 0
push argument 0
pop pointer 0
// if found
push this 9
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
// if (invert) { let x = x + 4; } 
// if found
push this 7
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push constant 4
add
pop this 0
// } 
label IF_FALSE1
// return 0; 
label IF_FALSE0
push constant 0
return
// } 
