push argument 0
pop field 0
push argument 0
pop field 0
push argument 0
pop field 0
push field 0
push field 0
push field 0
push field 0
add
push field 0
push field 0
add
push field 0
push field 0
push field 0
push field 0
add
push field 0
push field 0
add
push field 0
push field 0
add
lt
push field 0
push field 0
add
lt
and
push field 0
add
pop field 0
push field 0
gt
push field 0
sub
pop field 0
push field 0
gt
push field 0
push field 0
push field 0
add
sub
push field 0
push field 0
add
push field 0
push field 0
add
push field 0
sub
pop field 0
push field 0
push field 0
push field 0
push field 0
add
push field 0
add
push field 0
push field 0
add
lt
push field 0
push field 0
push field 0
push field 0
add
push field 0
add
push field 0
add
pop field 0
push field 0
push field 0
push field 0
add
sub
push field 0
push field 0
add
push field 0
push field 0
add
push field 0
gt
push field 0
push field 0
add
sub
push field 0
push field 0
push field 0
add
push field 0
push field 0
add
push field 0
sub
pop field 0
push field 0
push field 0
push field 0
add
push field 0
push field 0
add
push field 0
push field 0
add
lt
push field 0
push field 0
push field 0
add
push field 0
push field 0
add
push field 0
add
pop field 0
push field 0
push field 0
add
sub
push field 0
push field 0
push field 0
add
push field 0
push field 0
add
